    .body {
        background-color: rgb(240, 200, 207);
        text-align: center;
        border-style: solid;
        border-start-end-radius: 0px;
    }
    
    .img {
        margin-top: 1px;
        max-width: 300px;
        border-radius: 70%;
    }
    
    .copyright {
        border-top: double;
        border-bottom: double;
    }
    
    .contact,
    .content,
    .about {
        font-size: 20px;
        margin-left: 30px;
        padding-top: 10px;
        background-color: pink;
        text-decoration: none;
    }
    
    .head {
        border-top: double;
        text-align: center;
        color: black;
        border-bottom: double;
    }
    
    a:link {
        text-decoration: underline;
    }
    
    a:hover {
        text-decoration: none;
    }